<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>О проекте:</h1>
    <p>Данный проект создан в рамказ курса обучения WTP. Его можно и нужно разворачивать и использовать с целью обучения младшего тестировочного состава!</p>
  </div>
</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>