<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    form table {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    form label {
      margin-bottom: 5px;
    }
    form input {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    form button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>О проекте:</h1>
    <p>Данный проект создан в рамказ курса обучения WTP. Его можно и нужно разворачивать и использовать с целью обучения младшего тестировочного состава!</p>
  </div>
</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>