<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    form table {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    form label {
      margin-bottom: 5px;
    }
    form input {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    form button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Страница удаления пользователя:</h1>
      <p>Необходимо указать ID пользователя которого удаляем. ID пользователя можно посмотреть в таблице USERS в Базе Данных. после удаления должнопоявится уведомление об удалении пользователя </p>
    </div>
  </main>
  <form>
    <tr>
      <td>
    <label for="user_id">User Id:</label>
    <input type="text" name="role" id="user_id">
  </td>
</tr>
<tr>
  <td>
    <button type="submit">Delete User</button>
  </td>
</tr>
    <div id="output"></div>
  </form>

  <script>
    const user_id = document.getElementById('user_id');
    const url = `http://localhost:8080/users/${userId}`;
    var output = document.getElementById("myData")
    
    form.addEventListener('submit', deleteUser);
    function deleteUser() {
      fetch(url, {
        method: 'DELETE'
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          var outputDiv = document.getElementById('output');
          outputDiv.innerHTML = JSON.stringify(data);
        })
        .catch(function (error) {
          console.error(error);
        });
    }
  </script>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>