<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    form table {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    form label {
      margin-bottom: 5px;
    }
    form input {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    form button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Форма изменения пользователя</h1>
      <p>После заполнения полей нажмите Сохранить.</p>
    </div>
  </main>
  <form>
    <tr>
      <td>
    <label for="role">User Id:</label>
    <input type="text" name="role" id="user_id">
  </td>
</tr>
<tr>
  <td>
    <br>
    <label for="name">Имя:</label>
    <input type="text" name="name" id="name">
  </td>
</tr>
<br>
<tr>
  <td>   
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </td>
</tr>
<br>
<tr>
  <td> 
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password">
  </td>
</tr>
<br>
<tr>
  <td> 
    <label for="role">Роль:</label>
    <input type="text" name="role" id="role_id">
  </td>
</tr>
<br>
<tr>
  <td> 
    <button type="submit" id="submitButton">Сохранить</button>
  </form>

  <script>
    var url = 'http://localhost:8080/users'
    const form = document.querySelector('form');
    form.addEventListener('submit', submitForm);

    function submitForm(event) {
      event.preventDefault();

      const user_id = document.getElementById('user_id').value;
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const role_id = document.getElementById('role_id').value;
      
      const data = {
        name,
        email,
        password,
        role_id
      };
      fetch(`${url}/${encodeURIComponent(user_id)}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => {
          const outputDiv = document.getElementById('output');
          outputDiv.innerHTML = JSON.stringify(data);
        })
        .catch(error => console.error(error));
    }
  </script>


  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>